<launch>
    <arg name="launch_rviz" default="false"/>
    <arg name="launch_local_planer" default="true"/>
    <arg name="launch_scripts" default="true"/>
    <arg name="allow_debug_complete" default="false"/>
<include file="$(find bigbang_eurobot)/launch/move_base.launch">
    <arg name="route_file" default="blue"/>
    <arg name="round_side" default="green"/>
    <arg name="robot_name" default="biba"/>
    <arg name="allow_debug_complete" value="$(arg allow_debug_complete)"/>
    <arg name="start_x" value="0.18"/>
    <arg name="start_y" value="2.81"/>
    <arg name="start_theta" value="-1.57"/>
    <arg name="launch_rviz" value="$(arg launch_rviz)"/>
    <arg name="launch_local_planer" value="$(arg launch_local_planer)"/>
    <arg name="launch_scripts" value="$(arg launch_scripts)"/>
</include>
</launch>