<launch>
    <arg name="launch_rviz" default="false"/>
    <arg name="allow_debug_complete" default="false"/>
<include file="$(find bigbang_eurobot)/launch/move_base.launch">
    <arg name="route_file" default="green"/>
    <arg name="round_side" default="blue"/>
    <arg name="allow_debug_complete" value="$(arg allow_debug_complete)"/>
    <arg name="robot_name" default="biba"/>
    <arg name="start_x" value="1.82"/>
    <arg name="start_y" value="2.88"/>
    <arg name="start_theta" value="-1.57"/>
    <arg name="launch_rviz" value="$(arg launch_rviz)"/>
</include>
</launch>