<launch>
    <arg name="debug" default="false"/>
    <node pkg="bigbang_eurobot" type="local_planer.py" name="local_planer" output="screen" respawn="true" respawn_delay="1"> 
        <param name = "debug" value = "$(arg debug)"/>
        <param name = "allow_debug_connect" value = "false"/>
    </node>

</launch>