<launch>
    <arg name="debug" default="false"/>
    <arg name="start_x" default="1"/>
    <arg name="start_y" default="1"/>
    <arg name="start_theta" default="0"/>

    <node pkg="bigbang_eurobot" name="monte_carlo" type="monte_carlo" output="screen">
        <param name = "debug" value = "$(arg debug)"/>
        <param name = "start_x" value = "$(arg start_x)"/>
        <param name = "start_y" value = "$(arg start_y)"/>
        <param name = "start_theta" value = "$(arg start_theta)"/>
    </node>

</launch>
